<div class="jumbotron text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Jot down ideas for your next YouTube videos</p>
    <form action="/ideas/add" method="post">
        <input type="submit" class="btn btn-dark btn-lg" value="Add Video Idea">
    </form>
</div>